@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 
</div>

<div class="row">
    <h2>Demo of Angular 2 using ASP.NET 5 with Visual Studio 2015</h2>
    <my-app>Loading...</my-app>    
</div>