
@{
    Layout = null;
}

<div class="well well-sm">
    <h1>Hello this is my First Angular 2 App</h1> 
    <courses name="SquadWuschel"></courses>
    
    <br />
    <br />
    <br />
    <br />
    Router Tests
    <a class="btn btn-default" uiSref="halloWelt" uiSrefActive="active">Hallo Welt</a>
    <a class="btn btn-default" uiSref="personenListe" uiSrefActive="active">Personen Liste</a>
    <br />
    <br />
    Content anzeigen:
    <br />
    <br />
    <ui-view></ui-view>

</div>