
@{
    Layout = null;
}

<h2>Person List</h2>

<a (click)="getPersons()" class="btn btn-default">Lade Personen</a> 

<br />
<br />

<ul>
    <li *ngFor="let person of persons">Name: {{person.Name}} | ID: {{person.Id}}</li>
</ul>