@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <h2>Formular Tests - implicitly (Angular erstellt die Validation für uns)</h2>
        <p>Template driven Forms mit ngControl Direktive (weitere Alternative ist der FormBuilder)</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<form #frm="ngForm" (ngSubmit)="onSubmit(frm.form)">
    <div class="row">
        <div class="col-md-12 form-horizontal">
            <div [ngClass]="{'has-error': firstNameTmp.touched && !firstNameTmp.valid}" class="form-group">
                <label class="col-md-2 control-label">First Name*</label>
                <div class="col-md-10">
                    <input ngControl="firstName" #firstNameTmp="ngForm" required minlength="3" type="text" class="form-control input-sm">
                    <span *ngIf="firstNameTmp.touched && firstNameTmp.errors">
                        <label *ngIf="firstNameTmp.errors.required" class="control-label text-danger small">
                            Es muss ein Vorname eingegeben werden
                        </label>
                        <label *ngIf="firstNameTmp.errors.minlength" class="control-label text-danger small">
                            Der First Name muss mindestens {{firstNameTmp.errors.minlength.requiredLength}} Zeichen lang sein.
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-horizontal">
            <div [ngClass]="{'has-error': commentTmp.touched && !commentTmp.valid}" class="form-group">
                <label class="col-md-2 control-label">Comment*</label>
                <div class="col-md-10">
                    <textarea ngControl="comment" #commentTmp="ngForm" required type="text" rows="7" class="form-control"></textarea>
                    <label *ngIf="commentTmp.touched && !commentTmp.valid" class="control-label text-danger small">
                        Es muss ein Kommentar eingegeben werden
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-2 col-md-offset-10">
            <button [disabled]="!frm.valid" class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
</form>
