@{
    ViewBag.Title = "PersonList";
}

<div ng-controller="personListCtrl as ctrl">
    <div class="row">
        <div class="col-md-12">
            <h2>PersonList</h2>
        </div>
        <div class="col-md-12">
            {{ctrl.name}}
        </div>
    </div>
</div>