@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <h2>{{headlineText}}</h2>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-horizontal">
        <div class="form-group" [class.has-success]="isValide" [class.has-warning]="!isValide">
            <label class="col-md-4 control-label">Gültigkeit</label>
            <div class="col-md-6">
                <input type="text" [(ngModel)]="isValide" disabled="true" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-2">
                <a (click)="toggleSuccess($event)" class="btn btn-default" [style.backgroundColor]="isValide ? 'green' : 'red'">Success</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">One Way Binding</label>
            <div class="col-md-5">
                <input type="text" [value]="oneWayBinding" class="form-control">
            </div>
            <label class="col-md-3 control-label"> Wert: {{oneWayBinding}}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">FavoriteComponent</label>
            <div class="col-md-5">
                <a class="btn btn-default">
                    <favorite [isFavorite]="isFavoriteComponentValue" (changed)="onFavoriteComponentChange($event)"></favorite>
                </a>
                @* Der Stern wird nicht vom Style beeinflusst *@
                <a class="btn btn-default"><i class="fa fa-fw fa-star"></i></a>
            </div>
            <div class="col-md-3">
                <a (click)="toggleFavoriteComponent()" class="btn" [ngClass]="{'btn-default' :isFavoriteComponentValue, 'btn-primary': !isFavoriteComponentValue}">Toggle FavoriteComponent</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">Like Button</label>
            <label class="col-md-2 control-label"><like-button [likes]="anzahlLikes"></like-button></label>
            @* Hier handelt es sich aktuell noch um ein OneWay DataBinding die lokale Zahl ändert sich nicht! *@
            <label class="col-md-4 control-label"> Lokal: {{anzahlLikes}}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">*ngIf</label>
            <div class="col-md-3">
                <a (click)="toggleWithNgIf()" class="btn btn-default">Toggle with *ngIf</a>
            </div>
            <label class="col-md-5 control-label">show or hide *ngIf : <span *ngIf="isNgIf">{{isNgIf}}</span></label>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            @* Hidden ist wie ng-Hide in Angular 1, denn die DOM Elemente werden nur ausgeblendet aber weiterhin gerendert. *@
            <label class="col-md-4 control-label">Hidden</label>
            <div class="col-md-3">
                <a (click)="toggleWithHidden()" class="btn btn-default">Toggle with Hidden</a>
            </div>
            <label class="col-md-5 control-label">show or hide hidden : <span [hidden]="isHidden">{{isHidden}}</span> </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">*ngFor With Index</label>
            <label class="col-md-8 control-label">
                <span *ngFor="let course of courses, let i = index">{{course}} {{'Idx:' + i + ', '}}</span>
            </label>
        </div>
    </div>
    <div class="col-md-6 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">Elvis Operator "?"</label>
            <label class="col-md-5 control-label">
                @* Mit dem Elivs Operator "?" kann man direkt in Ausdrücken prüfen ob ein Wert undefined ist und dieser
                    wird dann nicht von Angular ausgewertet und es wird kein Fehler angezeigt! *@
                Name: {{elvisOperatorTest.name}} and elivs Test {{elvisOperatorTest?.person?.name}}
            </label>
        </div>
    </div>
</div>
<div class="row">
    <dl class="dl-horizontal">
        <dt>Voller Text</dt>
        <dd>{{loremText}}</dd>
        <dt>Truncated Text [Pipe]</dt>
        <dd>{{loremText | truncate:50}}</dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Accordeon Example</h3>
    </div>
    <div class="col-md-12">
        <accordion heading="Das ist der neue Titel">
            <div class="accordion-body">Das ist der neue Kontent</div>
            <div class="accordion-body">Das ist der neue Kontent 2</div>
        </accordion>
    </div>
</div>