@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <h2>Service Tests</h2>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li *ngFor="#row of posts"><a [routerLink]="['Post', { id: row.id }]" class="btn btn.btn-default btn-xs">{{row.title}}, ID: {{row.id}}</a></li>
        </ul>
    </div>
</div>

