@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <h2>Meine erste Angular 2 App</h2>
    </div>
</div>

<binding-tests></binding-tests>
<formular-tests></formular-tests>
<form-signup></form-signup>
<obervable></obervable>
